h1 {
  width: 30%;
  margin: auto;
  margin-bottom: 2rem;
}

body {
  background-color: beige;
}

.redditListContainer {
  /* padding-top: 3rem; */
  padding-left: 1rem;
  padding-right: 1rem;
  width: 60%;
  margin: auto;
}

.redditListItem {
  width: 100%;
  margin: auto;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: bisque;
  margin-bottom: 1rem;
}

.redditListItemTitle {
  font-size: 1rem;
  font-weight: bold;
}
